*{
    text-decoration: none;
}
html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #777;
    border-radius: 5rem;
}

.header{
    display: flex;
    background: #947659;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}


.header .logo img{
    height: 6rem;
}

.header .logoSpan img{
    height: 6rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: whitesmoke;
}

.header .navbar a:hover{
    color: #604d3b;
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
    transition: .2s linear;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: #604d3b;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top; 
    box-shadow: 5px 0px 16px 0px rgba(0 0 0 / 20%);
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: #604d3b;
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

}

@media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: whitesmoke;
        background: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar a{
        color: #947659;
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        height: 2rem;
    }

    .header .navbar.active{
        right: 0;
    }

}

#cart-btn,#user-btn,#search-btn{
    width: 25px;
}

@media(max-width:450px){

    html{
        font-size: 50%;
    }
    
}