:root{
    --main-color:#947659;
    --black:#13131a;
    --bg:whitesmoke;
    --border:.1rem solid rgba(255,255,255,.2);
}

*{
    font-family: congenial-light,sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .1s linear;
}

html{
    font-size: 62.5%;
    /* overflow: hidden; */
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #777;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

.header{
    display: flex;
    background: #947659;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}


.header .logo img{
    height: 6rem;
}

.header .navbar1 a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: whitesmoke;
}

.header .navbar1 a:hover{
    color: #604d3b;
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
    transition: .2s linear;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: #604d3b;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top; 
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: #604d3b;
}